<div class="title"><h3>Project List</h3></div>

<div class="gridBox">
    <mat-card class="gridEl" [routerLink]="['/projects', projectId]" *ngFor="let project of projects | async; index as projectId">
        <mat-card-header>
            <mat-card-title>{{project.name}}</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <img class="mat-card-image" [src]="project.displayImg" >
            <p>
                {{project.description}}
            </p>
        </mat-card-content>
    </mat-card>
</div>
