.projTitle {
    color: dimgrey;
}

.gridBox {
    display: flex;
}

.gridEl {
    width: 32%;
    margin: 4px;
}

mat-card-content > img {
    max-height: 40vh;
    object-fit: contain;
}

mat-card-header {
    justify-content: center;
    margin-bottom: 12px;
}