<div class="title"><h3>About</h3></div>

<div class="about-content">
  <p>I am a software developer trying to do software-related tasks in exchange for money.I am a software developer trying to do software-related tasks in exchange for money.</p>
  
  <div class="center-contents"><img src="assets/me.jpg" alt=""><div><a href="https://github.com/demarcot">GitHub</a></div><div><p>Email: tom_demarco1013@yahoo.com</p></div></div>
</div>

<div class="center-contents small-spacing"><a class="button fancy-button" [routerLink]="['/projects']">View Projects</a></div>