/* Global Styles */

/* Needed to include this for dropdown menus from Angular Material to work... */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* (Tom) - Organize these styles. */

* {
  font-family: "Avenir-Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 1em;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #dad7cf;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

router-outlet + *  {
  padding: 0 16px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #4372a1;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.fancy-button {
  background-color: white;
  color: #4372a1;
}

.fancy-button i.material-icons {
  color: #4372a1;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #4372a1;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1, h3 {
  color: white;
  margin: 0;
}

.title {
  width: 100%;
  padding: 2px;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(59, 73, 88);
  color: whitesmoke;
}

.title > * {
  color: whitesmoke;
}

app-about, app-project-list, app-project {
  width: 100%;
  min-width: 400px;
}